{% load staticfiles %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>회원가입</title>

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="//fonts.googleapis.com/earlyaccess/nanumgothic.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/signup.css' %}" rel="stylesheet">

</head>
<body class="text-center">
  <form class="form-signup" method="post" action="{% url 'signup' %}" enctype="multipart/form-data">
    <div class="container">
      <a href="{% url 'main' %}"><img class="mb-4" src="{% static 'img/logo_1.png' %}" height="100" align="middle"></a>

    </div>
    <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
    {% csrf_token %}
    <p style="margin-right: 16px;">
      {{ user_form.username.errors }}
      {{ user_form.username.label_tag }}
      {{ user_form.username }}
    </p>
    <p style="margin-right: 28px;">
      {{ user_form.password.errors }}
      {{ user_form.password.label_tag }}
      {{ user_form.password }}
    </p>
    <p style="margin-right: 44px;">
      {{ user_form.email.errors }}
      {{ user_form.email.label_tag }}
      {{ user_form.email }}
    </p>
    <p>
      {{ user_form.first_name.errors }}
      {{ user_form.first_name.label_tag }}
      {{ user_form.first_name }}
    </p>
    <p style="margin-right: 13px;">
      {{ profile.contact.errors }}
      {{ profile_form.contact.label_tag }}
      {{ profile_form.contact }}
    </p>
          <!--{{ user_form.as_p }}-->
      <!--{{ profile_form.as_p }}-->
    <button class="btn btn-lg btn-primary btn-block" type="submit">회원가입</button>
  </form>
</body>
</html>


<!--
  <body class="text-center">

    <form class="form-signin" method="post">
      <div class="container">
        <a href="{% url 'main' %}"><img class="mb-4" src="{% static 'img/logo_1.png' %}" height="100" align="middle"></a>
      </div>
      {% csrf_token %}
      <h1 class="h3 mb-3 font-weight-normal">Please login</h1>
      <label for="inputID" class="sr-only">ID</label>
      <input type="ID" id="inputID" class="form-control" placeholder="아이디" name="username" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="비밀번호" name="password" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">로그인</button>
    </form>
  </body>
</html> -->
