{% extends 'app/base.html' %}
{% load staticfiles %}


{% block content %}
<main role="main" style="justify-content: center;">
  {% if messages %}
      {% for message in messages %}
      <div style="margin-top:15px;"{% if message.tags == 'success' %} class="alert alert-success" role="alert"{% endif %}>{{ message }}</div>
      {% endfor %}
  {% endif %}
  <div id="top" class="container" style="background-color: #ffffff;padding-bottom: 140px;padding-top: 240px;">
    <div class="container" style="display: flex; justify-content: center;">
      <div class="row">
        <h1 class="display-4"><img src="{% static 'img/main_1.png' %}" width="100%"></h1>
      </div>
    </div>
    <div class="container" style="display: flex; justify-content: center;padding-top: 100px;">
      <a href="#home1"><img src="{% static 'img/arrow.png' %}" height="30"></a>
    </div>
  </div>
  <!-- Marketing messaging and featurettes
  ================================================== -->
<!-- 컴퓨터 -->
  <div class="d-none d-sm-block">
    <div class="row" id="home1" style="background-color:#353535;">
      <div class="container" style="display: flex; justify-content: center;">
        <img src="{% static 'img/home1.JPG' %}">
      </div>
    </div>
    <div class="row" id="home2" style="background-color:#353535;">
      <div class="container" style="display: flex; justify-content: center;">
        <img src="{% static 'img/home2.JPG'%}">
      </div>
    </div>
    <div class="row" id="home3" style="background-color:#353535;">
      <div class="container" style="display: flex; justify-content: center;">
        <img src="{% static 'img/home3.JPG'%}">
      </div>
    </div>
    <div class="row" id="home4" style="background-color:#353535;">
      <div class="container" style="display: flex; justify-content: center;">
        <img src="{% static 'img/home4.JPG'%}">
      </div>
    </div>
  </div>
<!-- 모바일 -->
  <div class="d-sm-none">
    <div class="row" id="home1" style="background-color:#353535;">
      <div class="container" style="display: flex; justify-content: center;">
        <img src="{% static 'img/home_m1.png' %}">
      </div>
    </div>
    <div class="row" id="home2" style="background-color:#353535;">
      <div class="container" style="display: flex; justify-content: center;">
        <img src="{% static 'img/home_m2.png'%}">
      </div>
    </div>
    <div class="row" id="home3" style="background-color:#353535;">
      <div class="container" style="display: flex; justify-content: center;">
        <img src="{% static 'img/home_m3.png'%}">
      </div>
    </div>
    <div class="row" id="home4" style="background-color:#353535;">
      <div class="container" style="display: flex; justify-content: center;">
        <img src="{% static 'img/home_m4.png'%}">
      </div>
    </div>
  </div>

  <!-- FOOTER -->
  <footer class="container" style="margin-top: 48px;">
    <h5 color="gray" style="font-size:0.7em; text-align:right;;">****moroom은 정보제공자이며 거래판매당사자가 아닙니다. 따라서 moroom은 계약정보 및 거래에 대하여 책임을 지지 않습니다.</h5>
    <p class="float-right" ><a href="#top">Back to top</a></p>
    <p>&copy; 2018- Company, Inc. &middot; Privacy &middot; Terms</p>
  </footer>
</main>

{% endblock %}
