{% load staticfiles %}
<html>
    <head>
      <link href="//fonts.googleapis.com/earlyaccess/nanumgothic.css" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="{% static 'css/app.css' %}">
      <title>Django Girls blog</title>
    </head>
    <body>
      <div class="page-header">
        <h1><a href="/">Moroom</a></h1>
      </div>
      {% for room in rooms %}
        <div class="room">
          <h1><a href="">{{ room.title }}</a></h1>
          <p>published: {{ room.published_date }}</p>
          <p>{{ room.text|linebreaksbr }}</p>
        </div>
      {% endfor %}
    </body>
</html>
