{% extends 'app/base.html' %}
{% load staticfiles %}

  {% block content %}
  <!-- <div class="container"> -->

 <!-- <h1 class="display-4"><img src="{% static 'img/room_list.png' %}" width="100%" style="margin: 0px;"></h1> -->
    <!-- <img src="{% static 'img/main_example.png' %}"> -->
  <!-- </div> -->

      <!-- Navigation -->


    <!-- Page Content -->
    <div class="container" style="margin-top:60px">

      <div class="row">

        <div class="col-lg-1">

        </div>
        <div class="col-lg-10">
          <h1 class="room-title" style="display: inline;">[{{ room.door.name }}] {{ room.title }}</h1>
          {% if request.user.id == room.user.id %}
          <button type="button" class="btn btn-outline-info" style="float: right;" data-toggle="modal" data-target="#exampleModal">삭제</button>
          <a href="{% url 'room_edit' university=university_name pk=room.pk%}"><button type="button" class="btn btn-outline-info" style="float: right; margin-right:3px; margin-bottom:2px;">수정</button></a>


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">방정보 삭제 안내</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                방에 대한 정보를 삭제하시겠습니까?
              </div>
              <div class="modal-footer">
                  <a href="{% url 'room_delete' university=university_name pk=room.pk%}"><button type="button" class="btn btn-secondary">네</button></a>
                  <a href="{% url 'room_detail' university=university_name pk=room.pk%}"><button type="button" class="btn btn-secondary" data-dismiss="modal">아니오</button></a>
              </div>
            </div>
          </div>
        </div>

          {% endif %}
         <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner">
                  {% if room.room_status.status == 'X' %}
                    <div class="carousel-item active">
                      <img class="d-block w-100" src="{% static 'img/closed.png' %}" alt="">
                    </div>
                  {% else %}
                    {% for photo in photos %}
                    <div class="carousel-item {% if forloop.first %} active {% endif %}">
                      <img class="d-block w-100" src="{{ photo.image.url }}" alt="">
                    </div>
                    {% endfor %}
                  {% endif %}
                </div>

                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>

          <div class="row">


          <div class="col-lg-12">
            <h3>매물정보</h3>
            <table class="table table-hover">

              <tbody>
                    <tr>
                      <td>방형태</td>
                      <td>{{ room.room_type }}</td>
                      <td>보증금/월세</td>
                      <td>{{ room.deposit }}/{{ room.rentfee }}</td>
                    </tr>
                    <tr>
                      <td>지원비</td>
                      <td>{{ room.fee_new }}</td>
                      <td>관리비</td>
                      <td>{{ room.manage_fee }}</td>

                    </tr>
                    <tr>
                      <td>입주가능일</td>
                      <td>{{ room.date_start }}</td>
                      <td>계약마감일</td>
                      <td>{{ room.date_end }}</td>

                    </tr>
                    <tr>
                      {% if room.room_status.status == 'X' %}
                      <td>연락수단</td>
                      <td>비공개</td>
                      {% else %}
                      <td>연락수단</td>
                      <td>{{ room.contact }} </td>
                      {% endif %}
                      <td>집주인허락</td>
                      <td>{{ room.room_agree }}</td>
                    </tr>


              </tbody>
            </table>




          </div>
          </div>
          <!-- /.row md보다 클 때 -->
          <div class="d-none d-md-block">
          <hr>
            <div class="row">
              <div class="col-lg-12">
              <h3>옵션</h3>
               <div class="row">

                 {% if '에어컨' in options %}
                      <div class="col-md-2">
                        <img src="{% static 'img/option/air_conditioner.png' %}"  class="mw-100" alt="">
                      </div>
                 {% else %}
                        <div class="col-md-2">
                          <img src="{% static 'img/option/air_conditioner.png' %}" class="mw-100  img-gray" alt="">
                        </div>
                 {% endif %}

                 {% if '인터넷' in options %}
                      <div class="col-md-2">
                        <img src="{% static 'img/option/wifi.png' %}"  class="mw-100" alt="">
                      </div>
                 {% else %}
                      <div class="col-md-2">
                        <img src="{% static 'img/option/wifi.png' %}"  class="mw-100 img-gray" alt="">
                      </div>
                 {% endif %}

                 {% if '전자레인지' in options %}
                      <div class="col-md-2">
                        <img src="{% static 'img/option/microwave.png' %}"  class="mw-100" alt="">
                      </div>
                 {% else %}
                        <div class="col-md-2">
                        <img src="{% static 'img/option/microwave.png' %}"  class="mw-100 img-gray" alt="">
                      </div>
                 {% endif %}

                 {% if '냉장고' in options %}
                        <div class="col-md-2">
                        <img src="{% static 'img/option/fridge.png' %}"  class="mw-100" alt="">
                      </div>
                 {% else %}
                        <div class="col-md-2">
                        <img src="{% static 'img/option/fridge.png' %}"  class="mw-100 img-gray" alt="">
                      </div>
                 {% endif %}

                 {% if 'TV' in options %}
                        <div class="col-md-2">
                        <img src="{% static 'img/option/tv.png' %}"  class="mw-100" alt="">
                      </div>
                 {% else %}
                         <div class="col-md-2">
                        <img src="{% static 'img/option/tv.png' %}"  class="mw-100 img-gray" alt="">
                      </div>
                 {% endif %}

                 {% if '옷장' in options %}
                        <div class="col-md-2">
                        <img src="{% static 'img/option/closet.png' %}"  class="mw-100" alt="">
                      </div>
                 {% else %}
                         <div class="col-md-2">
                        <img src="{% static 'img/option/closet.png' %}"  class="mw-100 img-gray" alt="">
                      </div>
                 {% endif %}

                 {% if '침대' in options %}
                        <div class="col-md-2">
                        <img src="{% static 'img/option/bed.png' %}"  class="mw-100" alt="">
                      </div>
                 {% else %}
                        <div class="col-md-2">
                        <img src="{% static 'img/option/bed.png' %}"  class="mw-100 img-gray" alt="">
                      </div>
                 {% endif %}

                 {% if '책상' in options %}
                        <div class="col-md-2">
                        <img src="{% static 'img/option/desk.png' %}"  class="mw-100" alt="">
                      </div>
                 {% else %}
                        <div class="col-md-2">
                        <img src="{% static 'img/option/desk.png' %}"  class="mw-100 img-gray" alt="">
                      </div>
                 {% endif %}

                 {% if '가스레인지' in options %}
                        <div class="col-md-2">
                        <img src="{% static 'img/option/gas_stove.png' %}"  class="mw-100" alt="">
                      </div>
                 {% else %}
                         <div class="col-md-2">
                        <img src="{% static 'img/option/gas_stove.png' %}"  class="mw-100 img-gray" alt="">
                      </div>
                 {% endif %}


                 {% if '세탁기' in options %}
                        <div class="col-md-2">
                        <img src="{% static 'img/option/washer.png' %}"  class="mw-100" alt="">
                      </div>
                 {% else %}
                        <div class="col-md-2">
                        <img src="{% static 'img/option/washer.png' %}"  class="mw-100 img-gray" alt="">
                      </div>
                 {% endif %}

                 {% if '도어락' in options %}
                        <div class="col-md-2">
                        <img src="{% static 'img/option/door_lock.png' %}"  class="mw-100" alt="">
                      </div>
                 {% else %}
                        <div class="col-md-2">
                        <img src="{% static 'img/option/door_lock.png' %}"  class="mw-100 img-gray" alt="">
                      </div>
                 {% endif %}

                 {% if '베란다' in options %}
                        <div class="col-md-2">
                        <img src="{% static 'img/option/veranda.png' %}"  class="mw-100" alt="">
                      </div>
                 {% else %}
                        <div class="col-md-2">
                        <img src="{% static 'img/option/veranda.png' %}"  class="mw-100 img-gray" alt="">
                      </div>
                 {% endif %}

                 {% if '애완동물' in options %}
                        <div class="col-md-2">
                        <img src="{% static 'img/option/pet.png' %}"  class="mw-100" alt="">
                      </div>
                 {% else %}
                        <div class="col-md-2">
                        <img src="{% static 'img/option/pet.png' %}"  class="mw-100 img-gray" alt="">
                      </div>
                 {% endif %}
               </div>



             </div>
            </div>

          </hr>
          </div>

          <!-- md보다 작을때 -->

          <div class="d-md-none">
          <hr>
            <div class="row">
              <div class="col-lg-12">
              <h3>옵션</h3>
               <div class="row">

                 {% if '에어컨' in options %}
                      <div class="col">
                        <img src="{% static 'img/option/air_conditioner.png' %}"  height="100" alt="">
                      </div>
                 {% else %}
                        <div class="col">
                          <img src="{% static 'img/option/air_conditioner.png' %}" class="img-gray" height="100" alt="">
                        </div>
                 {% endif %}

                 {% if '인터넷' in options %}
                      <div class="col">
                        <img src="{% static 'img/option/wifi.png' %}"  height="100" alt="">
                      </div>
                 {% else %}
                      <div class="col">
                        <img src="{% static 'img/option/wifi.png' %}"  class="img-gray" height="100" alt="">
                      </div>
                 {% endif %}

                 {% if '전자레인지' in options %}
                      <div class="col">
                        <img src="{% static 'img/option/microwave.png' %}"  height="100" alt="">
                      </div>
                 {% else %}
                        <div class="col">
                        <img src="{% static 'img/option/microwave.png' %}"  class="img-gray" height="100" alt="">
                      </div>
                 {% endif %}

                 {% if '냉장고' in options %}
                        <div class="col">
                        <img src="{% static 'img/option/fridge.png' %}"  height="100" alt="">
                      </div>
                 {% else %}
                        <div class="col">
                        <img src="{% static 'img/option/fridge.png' %}"  class="img-gray" height="100" alt="">
                      </div>
                 {% endif %}

                 {% if 'TV' in options %}
                        <div class="col">
                        <img src="{% static 'img/option/tv.png' %}"  height="100" alt="">
                      </div>
                 {% else %}
                         <div class="col">
                        <img src="{% static 'img/option/tv.png' %}"  class="img-gray" height="100" alt="">
                      </div>
                 {% endif %}

                 {% if '옷장' in options %}
                        <div class="col">
                        <img src="{% static 'img/option/closet.png' %}"  height="100" alt="">
                      </div>
                 {% else %}
                         <div class="col">
                        <img src="{% static 'img/option/closet.png' %}"  class="img-gray" height="100" alt="">
                      </div>
                 {% endif %}

                 {% if '침대' in options %}
                        <div class="col">
                        <img src="{% static 'img/option/bed.png' %}"  height="100" alt="">
                      </div>
                 {% else %}
                        <div class="col">
                        <img src="{% static 'img/option/bed.png' %}"  class="img-gray" height="100" alt="">
                      </div>
                 {% endif %}

                 {% if '책상' in options %}
                        <div class="col">
                        <img src="{% static 'img/option/desk.png' %}"  height="100" alt="">
                      </div>
                 {% else %}
                        <div class="col">
                        <img src="{% static 'img/option/desk.png' %}"  class="img-gray" height="100" alt="">
                      </div>
                 {% endif %}

                 {% if '가스레인지' in options %}
                        <div class="col">
                        <img src="{% static 'img/option/gas_stove.png' %}"  height="100" alt="">
                      </div>
                 {% else %}
                         <div class="col">
                        <img src="{% static 'img/option/gas_stove.png' %}"  class="img-gray" height="100" alt="">
                      </div>
                 {% endif %}

                 {% if '세탁기' in options %}
                        <div class="col">
                        <img src="{% static 'img/option/washer.png' %}"  height="100" alt="">
                      </div>
                 {% else %}
                        <div class="col">
                        <img src="{% static 'img/option/washer.png' %}"  class="img-gray" height="100" alt="">
                      </div>
                 {% endif %}

                 {% if '도어락' in options %}
                        <div class="col">
                        <img src="{% static 'img/option/door_lock.png' %}"  height="100" alt="">
                      </div>
                 {% else %}
                        <div class="col">
                        <img src="{% static 'img/option/door_lock.png' %}"  class="img-gray" height="100" alt="">
                      </div>
                 {% endif %}

                 {% if '베란다' in options %}
                        <div class="col">
                        <img src="{% static 'img/option/veranda.png' %}"  height="100" alt="">
                      </div>
                 {% else %}
                        <div class="col">
                        <img src="{% static 'img/option/veranda.png' %}"  class="img-gray" height="100" alt="">
                      </div>
                 {% endif %}

                 {% if '애완동물' in options %}
                        <div class="col">
                        <img src="{% static 'img/option/pet.png' %}"  height="100" alt="">
                      </div>
                 {% else %}
                        <div class="col">
                        <img src="{% static 'img/option/pet.png' %}"  class="img-gray" height="100" alt="">
                      </div>
                 {% endif %}
               </div>



             </div>
            </div>


          </div>

          <hr>
          <div class="row">

            <div class="col-lg-12">
            <h3>상세설명</h3>
            <p>{{ room.text|linebreaksbr }}</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-lg-12">
            <h3>위치 및 주변 편의시설</h3>
              <div id="map" style="width:100%;height:500px;"></div>
            </div>
          </div>
          <!-- ./row -->
        </div>
        <!-- /.col-lg-10 -->
        <div class="col-lg-1"></div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{ kakao_key }}"></script>

<script>

  var lng = {{ lng }};
  var lat = {{ lat }};
  var university_lng = {{ university_lng }};
  var university_lat = {{ university_lat }};
  var mapContainer = document.getElementById('map'), // 지도를 표시할 div
    mapOption = {
        center: new daum.maps.LatLng(university_lng, university_lat), // 지도의 중심좌표
        level: 5 // 지도의 확대 레벨
    };


var map = new daum.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

var circle = new daum.maps.Circle({
    center : new daum.maps.LatLng(lng, lat),  // 원의 중심좌표 입니다
    radius: 100, // 미터 단위의 원의 반지름입니다
    strokeWeight: 2, // 선의 두께입니다
    strokeColor: '#FF0000', // 선의 색깔입니다
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'shortdot', // 선의 스타일 입니다
    fillColor: '#C90000', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다
});
// http://apis.map.daum.net/web/documentation/ Circle 부분 설명 참조.
// 지도에 원을 표시합니다
circle.setMap(map);

// // 마커가 표시될 위치입니다
// var markerPosition  = new daum.maps.LatLng(lng, lat);

// // 마커를 생성합니다
// var marker = new daum.maps.Marker({
//     position: markerPosition
// });

// // 마커가 지도 위에 표시되도록 설정합니다
// marker.setMap(map);
  </script>

{% endblock %}
