{% extends 'app/base.html' %}

{% block content %}
  <main role="main" class="container">
  {% for room in rooms %}
  <div class="content container">
    <div class="row">
      <div class="col-md-8">
        <div class="room">
          <h1><a href="{% url 'room_detail' pk=room.pk %}">{{ room.title }}</a></h1>
          <p>published: {{ room.published_date }}</p>
          <p>{{ room.text|linebreaksbr }}</p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  </main>
{% endblock %}
