{% extends 'app/base.html' %}
{% load staticfiles %}

  {% block content %}
  <!-- <div class="container"> -->

 <!-- <h1 class="display-4"><img src="{% static 'img/room_list.png' %}" width="100%" style="margin: 0px;"></h1> -->
    <!-- <img src="{% static 'img/main_example.png' %}"> -->
  <!-- </div> -->

      <!-- Navigation -->


    <!-- Page Content -->
    <div class="container" style="margin-top:60px">

      <div class="row">

        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <h1>{{ room.title }}</h1>

         <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner">
                    {% for photo in photos %}
                    <div class="carousel-item {% if forloop.first %} active {% endif %}">
                      <img class="d-block w-100" src="{{ photo.image.url }}" alt="">
                    </div>
                    {% endfor %}
                </div>

                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>

          <div class="row">


          <div class="col-lg-12">
            <h3>매물정보</h3>
            <table class="table table-hover">

              <tbody>
                    <tr>
                      <td>방형태</td>
                      <td>{{ room.room_type }}</td>
                      <td>보증금/월세</td>
                      <td>{{ room.deposit }}/{{ room.rentfee }}</td>
                    </tr>
                    <tr>
                      <td>지원비</td>
                      <td>{{ room.fee_new }}</td>
                      <td>관리비</td>
                      <td>{{ room.manage_fee }}</td>

                    </tr>
                    <tr>
                      <td>계약기간</td>
                      <td>???</td>
                      <td>입주가능일</td>
                      <td>???</td>

                    </tr>
                    <tr>
                      <td>연락수단</td>
                      <td>{{ room.contact }} </td>
                      <td>집주인허락</td>
                      <td>{{ room.room_agree }}</td>
                    </tr>


              </tbody>
            </table>




          </div>
          </div>
          <!-- /.row -->
          <hr>
          <div class="row">
            <div class="col-lg-12">
            <h3>옵션</h3>
             <div class="row">





               {% if '에어컨' in options %}
                    <div class="col-md-2">
                      <img src="{% static 'img/option/air_conditioner.png' %}"  class="mw-100" alt="">
                    </div>
               {% else %}
                      <div class="col-md-2">
                        <img src="{% static 'img/option/air_conditioner.png' %}" class="mw-100  img-gray" alt="">
                      </div>
               {% endif %}

               {% if '인터넷' in options %}
                    <div class="col-md-2">
                      <img src="{% static 'img/option/wifi.png' %}"  class="mw-100" alt="">
                    </div>
               {% else %}
                    <div class="col-md-2">
                      <img src="{% static 'img/option/wifi.png' %}"  class="mw-100 img-gray" alt="">
                    </div>
               {% endif %}

               {% if '전자레인지' in options %}
                    <div class="col-md-2">
                      <img src="{% static 'img/option/microwave.png' %}"  class="mw-100" alt="">
                    </div>
               {% else %}
                      <div class="col-md-2">
                      <img src="{% static 'img/option/microwave.png' %}"  class="mw-100 img-gray" alt="">
                    </div>
               {% endif %}

               {% if '냉장고' in options %}
                      <div class="col-md-2">
                      <img src="{% static 'img/option/fridge.png' %}"  class="mw-100" alt="">
                    </div>
               {% else %}
                      <div class="col-md-2">
                      <img src="{% static 'img/option/fridge.png' %}"  class="mw-100 img-gray" alt="">
                    </div>
               {% endif %}

               {% if 'TV' in options %}
                      <div class="col-md-2">
                      <img src="{% static 'img/option/tv.png' %}"  class="mw-100" alt="">
                    </div>
               {% else %}
                       <div class="col-md-2">
                      <img src="{% static 'img/option/tv.png' %}"  class="mw-100 img-gray" alt="">
                    </div>
               {% endif %}

               {% if '옷장' in options %}
                      <div class="col-md-2">
                      <img src="{% static 'img/option/closet.png' %}"  class="mw-100" alt="">
                    </div>
               {% else %}
                       <div class="col-md-2">
                      <img src="{% static 'img/option/closet.png' %}"  class="mw-100 img-gray" alt="">
                    </div>
               {% endif %}

               {% if '침대' in options %}
                      <div class="col-md-2">
                      <img src="{% static 'img/option/bed.png' %}"  class="mw-100" alt="">
                    </div>
               {% else %}
                      <div class="col-md-2">
                      <img src="{% static 'img/option/bed.png' %}"  class="mw-100 img-gray" alt="">
                    </div>
               {% endif %}

               {% if '책상' in options %}
                      <div class="col-md-2">
                      <img src="{% static 'img/option/desk.png' %}"  class="mw-100" alt="">
                    </div>
               {% else %}
                      <div class="col-md-2">
                      <img src="{% static 'img/option/desk.png' %}"  class="mw-100 img-gray" alt="">
                    </div>
               {% endif %}

               {% if '가스레인지' in options %}
                      <div class="col-md-2">
                      <img src="{% static 'img/option/gas_stove.png' %}"  class="mw-100" alt="">
                    </div>
               {% else %}
                       <div class="col-md-2">
                      <img src="{% static 'img/option/gas_stove.png' %}"  class="mw-100 img-gray" alt="">
                    </div>
               {% endif %}


               {% if '세탁기' in options %}
                      <div class="col-md-2">
                      <img src="{% static 'img/option/washer.png' %}"  class="mw-100" alt="">
                    </div>
               {% else %}
                      <div class="col-md-2">
                      <img src="{% static 'img/option/washer.png' %}"  class="mw-100 img-gray" alt="">
                    </div>
               {% endif %}

               {% if '도어락' in options %}
                      <div class="col-md-2">
                      <img src="{% static 'img/option/door_lock.png' %}"  class="mw-100" alt="">
                    </div>
               {% else %}
                      <div class="col-md-2">
                      <img src="{% static 'img/option/door_lock.png' %}"  class="mw-100 img-gray" alt="">
                    </div>
               {% endif %}

               {% if '베란다' in options %}
                      <div class="col-md-2">
                      <img src="{% static 'img/option/veranda.png' %}"  class="mw-100" alt="">
                    </div>
               {% else %}
                      <div class="col-md-2">
                      <img src="{% static 'img/option/veranda.png' %}"  class="mw-100 img-gray" alt="">
                    </div>
               {% endif %}

               {% if '애완동물' in options %}
                      <div class="col-md-2">
                      <img src="{% static 'img/option/pet.png' %}"  class="mw-100" alt="">
                    </div>
               {% else %}
                      <div class="col-md-2">
                      <img src="{% static 'img/option/pet.png' %}"  class="mw-100 img-gray" alt="">
                    </div>
               {% endif %}



             </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-lg-12">
            <h3>상세설명</h3>
            <p>{{ room.text|linebreaksbr }}</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-lg-12">
            <h3>위치 및 주변 편의시설</h3>
              <div id="map" style="width:100%;height:500px;"></div>
            </div>
          </div>
          <!-- ./row -->
        </div>
        <!-- /.col-lg-10 -->
        <div class="col-lg-1"></div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{ kakao_key }}"></script>

<script>

  var lng = {{ lng }};
  var lat = {{ lat }};
  var mapContainer = document.getElementById('map'), // 지도를 표시할 div
    mapOption = {
        center: new daum.maps.LatLng(35.889676, 128.610473), // 지도의 중심좌표
        level: 5 // 지도의 확대 레벨
    };


var map = new daum.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

var circle = new daum.maps.Circle({
    center : new daum.maps.LatLng(lng, lat),  // 원의 중심좌표 입니다
    radius: 100, // 미터 단위의 원의 반지름입니다
    strokeWeight: 2, // 선의 두께입니다
    strokeColor: '#FF0000', // 선의 색깔입니다
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'shortdot', // 선의 스타일 입니다
    fillColor: '#C90000', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다
});
// http://apis.map.daum.net/web/documentation/ Circle 부분 설명 참조.
// 지도에 원을 표시합니다
circle.setMap(map);

// // 마커가 표시될 위치입니다
// var markerPosition  = new daum.maps.LatLng(lng, lat);

// // 마커를 생성합니다
// var marker = new daum.maps.Marker({
//     position: markerPosition
// });

// // 마커가 지도 위에 표시되도록 설정합니다
// marker.setMap(map);
  </script>

{% endblock %}
