{% load staticfiles %}
<html>
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/earlyaccess/nanumgothic.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <title>모룸(Moroom)</title>
  </head>
  <body>
    <div class="page-header">
      <h1>방내놓기</h1>
      <h2><a href="{% url 'main' %}">메인페이지로</a></h2>
    </div>
    <div class="content container" style="margin-left:0px;margin-right:0px;">
      <p>확인사항1</p>
      <p>확인사항2</p>
      <p>확인사항3</p>
    </div>
  </body>
</html>
