{% extends 'app/base.html' %}
{% load staticfiles %}

{% block content %}
  <h1 class="display-4"><img src="{% static 'img/submain_1.png' %}" width="100%" style="margin: 0px;"></h1>

  <main role="main" class="container">
    <div class="content container" style="margin-left:0px;margin-right:0px;">
      <h1>방내놓기</h1>
    </div>
    <div class="content container" style="margin-left:0px;margin-right:0px;">
      <p>확인사항1</p>
      <p>확인사항2</p>
      <p>확인사항3</p>
      <h3><a href="{% url 'room_new' %}">입력하기</a></h3>
    </div>
  </main>
{% endblock %}
