{% extends 'app/base.html' %}
{% load staticfiles %}

{% block content %}
  <h1 class="display-4"><img src="{% static 'img/tutorial.png' %}" width="100%" style="margin: 0px;"></h1>
  <main role="main">
    <!-- 렌토 -->
    <div class="d-flex justify-content-center">
      <a data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1" style="margin-top: 30px; margin-bottom: 50px">
          <img src="{% static 'img/tut1.png' %}" width="75%">
      </a>
      </div>
      <div class="collapse" id="collapseExample1">
        <div class="card card-body">
          <h2>
            이어살기 회원가입--- 로그인--- 방내놓기 클릭--- 양식에 맞게 제출--- 등록
          </h2>
          <h3>
            ** 등록하신 방정보는 2주 후 자동적으로 방 나감 처리 되오니, 2주전에 미리 등록 연장을 해주시길 바랍니다.
          </h3>
        </div>
      </div>
    </div>

    <!-- 렌티 -->
    <div class="d-flex justify-content-center">
      <a data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2" align="right" style="margin-bottom: 80px">
          <img src="{% static 'img/tut2.png' %}" width="75%">
      </a>
      </div>
      <div class="collapse" id="collapseExample2">
        <div class="card card-body">
          <h2>
            방 구경하기--- 마음에 드는 방 찾기 및 선택--- 로그인 후 연락처/오프채팅으로 렌토에게 연락
          </h2>
          <h3>
            ** “이어살기 보고 연락드렸습니다.”라고 말씀하시면 더욱 쉽게 연락하실 수 있습니다.
          </h3>
        </div>
      </div>
    </div>

    <!-- 계약하기 -->
    <div class="d-flex justify-content-center">
      <a data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3" align="middle" style="margin-bottom: 80px">
          <img src="{% static 'img/tut3.png' %}" width="65%">
      </a>
      </div>
      <div class="collapse" id="collapseExample3">
        <div class="card card-body">
          <h2>
            연락 후 --- 집주인 동의 확인--- 계약 전 방 사진 보관--- 계약서 작성 (양식제공)--- 계약완료
          </h2>
          <h3>
            1. 계약서 읽어 보기 꼼꼼하게!!2. 서명 및 도장 찍기 3. 계약서 두 장을 살짝 겹쳐서 위에는 (렌토) 아래엔(렌티)의 서명하기 4. 렌토, 렌티 각각 한 장씩 계약서 나눠 갖기
          </h3>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
