{% extends 'app/base.html' %}
{% load staticfiles %}

{% block content %}
  <h1 class="display-4"><img src="{% static 'img/tutorial.png' %}" width="100%" style="margin: 0px;"></h1>
  <main role="main">

    <!-- lg일때  -->
  <div class="d-none d-lg-block">
    <div class="container" style="margin-top:50px;">
      <div class="row">
        <div class="col-sm-12 col-lg-4" style="display: flex; justify-content: center;">
          <a data-toggle="collapse" href="#multiCollapseExample1" aria-controls="multiCollapseExample1"><img src="{% static 'img/tuto1.png' %}" height="350"></a>
        </div>
        <div class="col-sm-12 col-lg-4" style="display: flex; justify-content: center;">
          <a data-toggle="collapse" href="#multiCollapseExample2" aria-controls="multiCollapseExample2"><img src="{% static 'img/tuto2.png' %}" height="350"></a>
        </div>
        <div class="col-sm-12 col-lg-4" style="display: flex; justify-content: center;">
          <a data-toggle="collapse" href="#multiCollapseExample3"  aria-controls="multiCollapseExample3"><img src="{% static 'img/tuto3.png' %}" height="350"></a>
        </div>
      </div>

        <div class="collapse multi-collapse" id="multiCollapseExample1">
          <div class="card card-body">
            <div class="row">
            <div class="col-sm-12 col-lg-4"  style="display: flex; justify-content: center;">
            <img src="{% static 'img/tuto/rentor1.png' %}" height="250">
            </div>
            <div class="col-sm-12 col-lg-4"  style="display: flex; justify-content: center;">
            <img src="{% static 'img/tuto/rentor2.png' %}" height="250">
            </div>
            <div class="col-sm-12 col-lg-4"  style="display: flex; justify-content: center;">
            <img src="{% static 'img/tuto/rentor3.png' %}" height="250">
            </div>
            <div class="container">
              <h5 align="center" style="font-size:15px; margin-top:15px;">* 계약이 완료됬을 시, 등록하신 방정보를 내려주세요. <br>안전한 계약을 위해 먼저, 집주인(임대인)의 허락을 받는 것을 권장합니다.</h5>
            </div>
            </div>
          </div>
        </div>

        <div class="collapse multi-collapse" id="multiCollapseExample2">
          <div class="card card-body">
            <div class="row">
              <div class="col-sm-12 col-lg-4"  style="display: flex; justify-content: center;">
                <img src="{% static 'img/tuto/rent1.png' %}" height="250">
              </div>
              <div class="col-sm-12 col-lg-4"  style="display: flex; justify-content: center;">
                <img src="{% static 'img/tuto/rent2.png' %}" height="250">
              </div>
              <div class="col-sm-12 col-lg-4"  style="display: flex; justify-content: center;">
                <img src="{% static 'img/tuto/rent3.png' %}" height="250">
              </div>
              <div class="container">
              <h5 align="center" style="font-size:15px; margin-top:15px;">* 1. 계약서 꼼꼼하게 읽어 보기 <br>2. 서명 및 도장 찍기 <br>3. 위아래에 계약서 두 장을 나란히 겹쳐 서명하기 <br>4. 렌토, 렌티 각각 한 장씩 계약서 나눠 갖기</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="collapse multi-collapse" id="multiCollapseExample3">
          <div class="card card-body">
            <div class="row">
              <div class="col-sm-12 col-lg-4" style="display: flex; justify-content: center;">
                <img src="{% static 'img/tuto/rentee1.png' %}" height="250">
              </div>
              <div class="col-sm-12 col-lg-4" style="display: flex; justify-content: center;">
                <img src="{% static 'img/tuto/rentee2.png' %}" height="250">
              </div>
              <div class="col-sm-12 col-lg-4" style="display: flex; justify-content: center;">
                <img src="{% static 'img/tuto/rentee3.png' %}" height="250">
              </div>
              <div class="container">
                <h5 align="center" style="font-size:15px; margin-top:15px;">* “이어살기 보고 연락드렸습니다.”라고 말씀하시면 더욱 쉽게 연락하실 수 있습니다. <br>안전한 계약을 위해 집주인 허락을 확인해주세요.</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

<!-- sm일때 -->
<div class="d-lg-none">
  <div class="container" style="margin-top:50px;">
    <div class="row">
      <div class="col-sm-12 col-lg-4" style="display: flex; justify-content: center;">
        <a data-toggle="collapse" href="#multiCollapseExample4" aria-controls="multiCollapseExample4"><img src="{% static 'img/tuto1.png' %}" height="350"></a>
      </div>
        <div class="collapse multi-collapse" id="multiCollapseExample4">
          <div class="card card-body">
            <div class="row">
            <div class="col-sm-12 col-lg-4"  style="display: flex; justify-content: center;">
            <img src="{% static 'img/tuto/rentor1.png' %}" height="250">
            </div>
            <div class="col-sm-12 col-lg-4"  style="display: flex; justify-content: center;">
            <img src="{% static 'img/tuto/rentor2.png' %}" height="250">
            </div>
            <div class="col-sm-12 col-lg-4"  style="display: flex; justify-content: center;">
            <img src="{% static 'img/tuto/rentor3.png' %}" height="250">
            </div>
            <div class="container">
              <h5 align="center" style="font-size:15px; margin-top:15px;">* 계약이 완료됬을 시, 등록하신 방정보를 내려주세요. <br>안전한 계약을 위해 먼저, 집주인(임대인)의 허락을 받는 것을 권장합니다.</h5>
            </div>
            </div>
          </div>
        </div>
      <div class="col-sm-12 col-lg-4" style="display: flex; justify-content: center;">
        <a data-toggle="collapse" href="#multiCollapseExample5" aria-controls="multiCollapseExample5"><img src="{% static 'img/tuto2.png' %}" height="350"></a>
      </div>
      <div class="collapse multi-collapse" id="multiCollapseExample5">
        <div class="card card-body">
          <div class="row">
            <div class="col-sm-12 col-lg-4"  style="display: flex; justify-content: center;">
              <img src="{% static 'img/tuto/rent1.png' %}" height="250">
            </div>
            <div class="col-sm-12 col-lg-4"  style="display: flex; justify-content: center;">
              <img src="{% static 'img/tuto/rent2.png' %}" height="250">
            </div>
            <div class="col-sm-12 col-lg-4"  style="display: flex; justify-content: center;">
              <img src="{% static 'img/tuto/rent3.png' %}" height="250">
            </div>
            <div class="container">
            <h5 align="center" style="font-size:15px; margin-top:15px;">* 1. 계약서 꼼꼼하게 읽어 보기 <br>2. 서명 및 도장 찍기 <br>3. 위아래에 계약서 두 장을 나란히 겹쳐 서명하기 <br>4. 렌토, 렌티 각각 한 장씩 계약서 나눠 갖기</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-lg-4" style="display: flex; justify-content: center;">
        <a data-toggle="collapse" href="#multiCollapseExample6"  aria-controls="multiCollapseExample6"><img src="{% static 'img/tuto3.png' %}" height="350"></a>
      </div>
    </div>
      <div class="collapse multi-collapse" id="multiCollapseExample6">
        <div class="card card-body">
          <div class="row">
            <div class="col-sm-12 col-lg-4" style="display: flex; justify-content: center;">
              <img src="{% static 'img/tuto/rentee1.png' %}" height="250">
            </div>
            <div class="col-sm-12 col-lg-4" style="display: flex; justify-content: center;">
              <img src="{% static 'img/tuto/rentee2.png' %}" height="250">
            </div>
            <div class="col-sm-12 col-lg-4" style="display: flex; justify-content: center;">
              <img src="{% static 'img/tuto/rentee3.png' %}" height="250">
            </div>
            <div class="container">
              <h5 align="center" style="font-size:15px; margin-top:15px;">* “이어살기 보고 연락드렸습니다.”라고 말씀하시면 더욱 쉽게 연락하실 수 있습니다. <br>안전한 계약을 위해 집주인 허락을 확인해주세요.</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="container-fluid">
  <h5 color="gray" style="font-size:0.8em; text-align:center; margin-top:10px;">*서비스 이용에 있어서 오류 혹은 문의 메일은 moroom_@naver.com으로 보내주시기 바랍니다.</h5>
  <div class="row" style="display: flex; justify-content: center; margin-top:20px;">
    <a href="{% static 'file/contract.hwp' %}" download><button type="button" class="btn btn-outline-dark">계약서 예시.hwp</button></a>
  </div>
</div>

      <footer class="container" style="margin-top: 48px;">
        <p class="float-right" style="font-size:3px;"><a href="https://www.freepik.com/free-photos-vectors/background">&copy; Background vector created by Freepik</a></p>
      </footer>
  </main>
{% endblock %}
